<!-- your html code here -->

<div class="card bg-dark text-dark  ">
    <img src="././assets/img/bg.jpg" class="card-img" alt="card imagen cap">

    <div class="card-img-overlay ">
        <div class="container-fluid  ">
            <div clas="row flex-column mb-3">
                <div class=" col-12 bg-light p-1 border text-center p-1 bg-light border  flex-column mb-3 ">

                    <h1 style="font-size:100px">One Page Wonder</h1>
                </div>

                <div class="col-12 bg-light p-2 border text-center p-2 bg-light border">
                    <h2 style="font-size:60px" >Will knock your socks off</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>